*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}
header {
    background-color: white;
}
body {
    background-color: lightgray;
}
#logo {
    padding: 10px 20px;
    vertical-align: middle;
    padding-right: 5px;
    
}

#logo-text {
    font-size: 50px;
    vertical-align: middle;
    font-family: sans-serif;
    font-weight: bolder;
}

.container {
    margin: auto;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 1000px;
    height: auto;
    background-color: white;
}

.task{
    background-color: #47adf1;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
   



}

.section{
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    color: lightgrey;
    padding: 5px 10px;

}

.parte2 {
    margin: auto;
    padding: 40px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 1000px;
    height: 1000px;
    background-color: white;


}